.palette {
  display: block;
  width: 315px;
  margin: 15px;

  .block-control {
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .palette {
    width: 100%;
    margin: 0;
  }
}
