.palette__item {
  position: relative;
  display: inline-block;

  .palette__item-color {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 54px;
    margin: 12px;
    border-radius: 5px;

    .palette__item-delete {
      position: absolute;
      cursor: pointer;
      opacity: 0;
      right: -7px;
      top: -7px;
      transition: all 0.15s;
      z-index: 9;
    }

    &:hover {
      .palette__item-delete {
        opacity: 1;
      }
    }
  }

  .block-picker {
    position: absolute !important;
    left: -46px;
    z-index: 99;
  }
}
